# Habitizer Environment Variables

# Infrastructure Ports & Credentials
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=habitizer
POSTGRES_PASSWORD=habitizer_secret
POSTGRES_DB=habitizer_db

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=super_secret_jwt_key_habitizer_2026

# Microservices HTTP Ports
GATEWAY_PORT=8000
AUTH_SERVICE_PORT=8001
HABIT_SERVICE_PORT=8002
ANALYTICS_SERVICE_PORT=8003
NOTIFICATION_WORKER_PORT=8004
