# Habitizer Environment Variables

# Infrastructure Ports & Credentials
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123

# Isolated Microservice Databases (Database-per-Service Architecture)
AUTH_DB_NAME=habitizer_auth_db
HABIT_DB_NAME=habitizer_habit_db
ANALYTICS_DB_NAME=habitizer_analytics_db

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=super_secret_jwt_key_habitizer_2026

# Microservices HTTP Ports
GATEWAY_PORT=8000
AUTH_SERVICE_PORT=8001
HABIT_SERVICE_PORT=8002
ANALYTICS_SERVICE_PORT=8003
NOTIFICATION_WORKER_PORT=8004
