# Binaries and executables
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
main.exe

# Environment & local secrets
.env
.env.local
*.local

# Logs and temporary files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database & runtime files
*.sqlite
*.db

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Flutter / Dart
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/build/
mobile/ios/.symlinks/
mobile/ios/Pods/
mobile/ios/Podfile.lock

# Node / Dependencies
node_modules/
dist/
build/

# Documentation & Diagrams
docs/
doc/



